.movies .movie {
  width: 45%;
  background-color: white;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movies .movie a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.movie img {
  position: relative;
  top: -30px;
  max-width: 140px;
  margin-right: 10px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  border-radius: 5px;
}

.movie .movie_title,
.movie .movie_year {
  margin: 0;
  font-weight: 600;
}

.movie .movie_title {
  margin-bottom: 5px;
  font-size: 18px;
  color: #2c2c2c;
  height: 30px;
}

.movie_genres li,
.movie .movie_year {
  font-size: 16px;
}

.movie .movie_year {
  margin-top: 10px;
}

.movie_genres {
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0px;
}

.movie_genres li {
  list-style-type: none;
  margin-right: 5px;
}

.movie_summary {
  margin-top: 30px;
  font-size: 14px;
}